#!/bin/bash

tc qdisc add dev eth0 root handle 1: htb default 30

tc class add dev eth0 parent 1: classid 1:10 htb rate 1000mbit

tc class add dev eth0 parent 1: classid 1:30 htb rate 1000mbit
tc class add dev eth0 parent 1: classid 1:31 htb rate 1000mbit

tc filter add dev eth0 protocol ip parent 1:0 prio 1 u32 match ip dport 22 0xffff classid 1:10
tc filter add dev eth0 protocol ip parent 1:0 prio 2 u32 match ip dport 4500 0xffff classid 1:30
tc filter add dev eth0 protocol ip parent 1:0 prio 2 u32 match ip dport 500 0xffff classid 1:31